@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutSuperAdmin.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="headOfficeNameId" onkeypress="searchFunction(' ')">
            <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-flat" onclick="searchFnction(' ')">Search</button>
            </span>
        </div>
    </div>
</div>
<div class="table table-responsive">


    <div id="headOfficeList"></div>

</div>
@*<link href="~/Content/AdminLTE.css" rel="stylesheet" />
    <script src="~/Scripts/CustomScripts/globalFunction.js"></script>*@

<div class="modal fade" id="add-headOffice" tabindex="-1" role="dialog" aria-labelledby="addHeadOffice">
    @{Html.RenderAction("Create", "SetupHeadOffice");}
</div>

<div class="modal fade" id="update-headOffice" tabindex="-1" role="dialog" aria-labelledby="editHeadOffice">
        @{Html.RenderAction("Edit", "SetupHeadOffice");}
    </div>

<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    @{Html.RenderAction("DeleteConformation", "CommonAjaxRequest", new { area = "" });}
</div>


<script>
    $(document).ready(function (e) {
        search($('#headOfficeNameId').val(), '', '#headOfficeList', '_GetHeadOfficeList', 'SetupHeadOffice', 'SetupArea');
    });
</script>
